---
layout: default
title: About Me
---
{% include navbar.html %}
<div class="about-container">
    <h1>About Me</h1>
    <p class="about-description">
        Hello! This is <strong>Spring</strong>. Welcome to my personal blog.
    </p>
    <p class="about-description"> I share ideas, thinking tips and results here.</p>
    <p class="contact-info">Please feel free to contact me at: <a href="mailto:springlock233@gmail.com">springlock233@gmail.com</a></p>
    <a href="index.html">Back to home page</a>
</div>
{% include footer.html %}