---
layout: default
title: Rabbit Hole
---
{% include navbar.html %}
<div class="container">
    <h1>Welcome to My Rabbit Hole</h1>
    <p>"I almost wish I hadn't gone down that rabbit-hole—and yet—and yet—"</p>
    <p>"it's rather curious, you know, this sort of life!"</p>
    <hr>
    <p>Poof—ouch, my backside hurts!</p>
    <p>"Am I dreaming? A weird rabbit is staring at me, as if it has something to say"</p>
    <div class="rabbit-container">
        <p class="rabbit-text">(\_/)</p>
        <p class="rabbit-text">(o.o) "Ah, look! Another soul tumbled down our rabbit hole!"</p>
        <p class="rabbit-text">(\_/)</p>
        <p class="rabbit-text">(^·^) "Now that you've arrived, why not stay awhile and sip some tea? I wouldn't mind offering you a few cookies too."</p>
    </div>
    <h3>Choose a door to step through:</h3>
    <nav>
        <ul class="link-list">
            <li>
                <a href="/blogs">Blog</a>
            </li>
            <li>
                <a href="/thinking_tips">Thinking Tips</a>
            </li>
            <li>
                <a href="/results">Results</a>
            </li>
            <li>
                <a href="/about_me">About Me</a>
            </li>
        </ul>
    </nav>
</div>
{% include footer.html %}